<nav class="bottom-nav" *ngIf="true">
  <div *ngFor="let item of navItems()"
       class="nav-item"
       [class.active]="!isMenuItem(item) && isActive(item.route)"
       [class.menu-item]="isMenuItem(item)"
       (click)="onItemClick(item, $event)">

    <!-- Обычная иконка -->
    <div class="nav-icon" *ngIf="!isMenuItem(item)">
      <span class="material-icons">{{ item.icon }}</span>
      <span class="badge"
            *ngIf="item.badge && item.badge > 0"
            [class.badge-pulse]="item.badge > 3">
        {{ item.badge > 9 ? '9+' : item.badge }}
      </span>
    </div>

    <!-- Троеточие с меню -->
    <div class="nav-icon" *ngIf="isMenuItem(item)" (click)="$event.stopPropagation()">
      <button mat-icon-button
              [matMenuTriggerFor]="moreMenu"
              class="more-btn">
        <span class="material-icons">{{ item.icon }}</span>
      </button>
    </div>
  </div>
</nav>

<mat-menu #moreMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="onAbout()">
    <mat-icon>info</mat-icon>
    <span>О сайте</span>
  </button>
  <button mat-menu-item (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    <span>Выход</span>
  </button>
</mat-menu>
